*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}


/* Universal Variables */
:root {
    --lime: hsl(61, 70%, 52%);
    --light-lime: hsla(61, 70%, 52%, 0.445);
    --lightest-lime: hsla(61, 70%, 52%, 0.164);
    --red: hsl(4, 69%, 50%);
    --dark-red: hsl(4, 69%, 50%);
    --white: hsl(0, 0%, 100%);
    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%);
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);
}

body {
    background-color: var(--slate-100);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

/* Universal classes below */
.form-group {
    margin-bottom: 0.8rem;
}

.form-section{
    align-items: stretch;
    flex: 1;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.margin-bottom{
    margin-bottom: 1.5rem;
}

.oneLineEle {
    display: flex;
    gap: 1rem;
}

.errmsg{
    font-size: 0.9rem;
    color: var(--red);
    margin-top: 0.5rem;
}
/* Unviersal classes above */

#outerContainer{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
}

#calcContainer {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    max-width: 1000px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    grid-template-areas:
    'leftSide rightSide';
}

/* Left Side */
#leftSide {
    /* display: flex; */
    flex: 1;
    border-radius: 20px;
    color: var(--slate-900);
    grid-area: leftSide;
    padding: 2rem;
}

.half-width {
    flex: 1;
}

#mainHeading{
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: auto;
    margin-bottom: 2.7rem;
}

#clear {
    border: none;
    text-decoration: underline;
    color: var(--slate-700);
    background-color: var(--white);
    margin-bottom: 2.7rem;
}

label{
    padding-bottom: 0.1rem;
}

.sideEle{
    display: flex;
    border: 1px solid var(--slate-300);
    border-radius: 5px;
    overflow: hidden;
}

.sideEle input{
    border: none;
    padding: 10px;
    outline: none;
    flex: 1;
}

.sideEle:hover{
    border: 1.5px solid var(--slate-900);
}

.sideEle span{
    background-color: var(--slate-100);
    padding: 10px 15px;
    font-weight: bold;
    color: #666;
}

input[type="number"]{
    /* -moz-appearance: textfield; */
    width: 100%;
    padding: 0.9rem;
    outline: none;
    font-weight: 700;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#repaymentBox label,
#interestOnlyBox label{
    padding: 0.8rem;
    cursor: pointer;
}

#repaymentBox,
#interestOnlyBox{
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
    font-weight: 700;
    /* border: 1px solid var(--slate-500); */
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

#repaymentBox:focus,
#repaymentBox:active,
#interestOnlyBox:active,
#interestOnlyBox:focus{
    border: 1.5px solid var(--medium-green);
    background-color: var(--slate-100);
}

input[type = 'radio']{
    appearance: none;
    background-color: #fff;
    margin-left: 1rem;
    color: currentColor;
    width: 15px;
    height: 15px;
    border: 1px solid var(--slate-900);
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
    /* transform: translateY(-0.075em); */
    /* margin: 0.8rem;
    accent-color: var(--lime); */
}

input[type="radio"]::before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--lime);
    /* background-color: var(--lime); */
}

input[type="radio"]:checked{
    border: 1px solid var(--lime);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

#repaymentLabel,
#interestOnlyLabel{
    margin-bottom: 0rem;
}

#calculate-btn {
    display: flex;
    flex: 1;
    background: var(--lime);
    color: var(--slate-900);
    display: flex;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 2.2rem;
    padding: 0.8rem 2.5rem;
}

#calculate-btn img{
    margin-right: 0.8rem;
}

#calculate-btn:hover {
    background: var(--light-lime);
}

/* Right Side When Empty */
#rightSide{
    grid-area: rightSide;
    display: flex;
    align-items: stretch;
}

#emptyContainer {
    flex: 1;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 80px;
    background-color: var(--slate-900);
    color: var(--white);
    padding: 2rem;
    display: none;
    /* display: grid; */
    grid-template-rows: 4fr 3fr;
    grid-template-areas:
    'emptyImg'
    'emptyMsg';
}


#emptyImg{
    /* border: 1px solid ; */
    grid-area: emptyImg;
    align-self: flex-end;
    justify-self: center;
}

#emptyMsg{
    grid-area: emptyMsg;
    /* border: 1px solid; */
    padding: 1rem;
    text-align: center;
}

#emptyMsg h3{
    margin-bottom: 1rem;
}

#emptyMsg p{
    font-size: 0.95rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: var(--slate-500);
}


/* Result Container */
#resultContainer{
    flex: 1;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 80px;
    background-color: var(--slate-900);
    color: var(--white);
    padding: 2.1rem;
    /* display: none; */
}

#resultContainer h2{
    margin-bottom: 1.5rem;
}

#resultContainer p{
    color: var(--slate-300);
    font-weight: 500 ;
    line-height: 1.4rem;
}

#resultArea{
    /* border: 1px solid; */
    margin: 3rem 0rem;
    padding: 2rem;
    height: 19rem;
    border-top: 4px solid var(--lime);
    border-radius: 8px;
    color: var(--slate-500);
    font-weight: 500;
    background-color: hsla(200, 54%, 11%, 0.774);
}

#monthlyPayment{
    /* border: 1px solid; */
    margin: 1rem 0rem;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--lime);
}

hr{
    border: none;
    background-color: var(--slate-700);
    height: 1px;
    margin: 2rem 0rem;
}

#totalAmount{
    margin: 0.5rem 0rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
}


#toastMsg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--slate-900);
    color: white;
    position: fixed;
    top: -7rem;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s ease-in-out;
    z-index: 9999;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#toastMsg #main{
    display: flex;
    /* border: 1px solid black; */
    margin-bottom: 0.8rem;
}

#toastMsg svg{
    margin: 0.2rem;
}
#toastHeading{
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.4rem 0.5rem;
}
#toastSubheading{
    color: var(--slate-500);
}

@media only screen and (min-width: 375px) and (max-width: 768px){
    body{
        overflow: scroll;
    }
    .margin-bottom{
        margin-bottom: 1.5rem;
    }
    
    .errmsg{
        font-size: 0.9rem;
        margin-top: 0.3rem;
    }
    
    #outerContainer{
        display: flex;
        width: 93%;
        height: fit-content;
        /* align-items: center;
        justify-content: center; */
    }

    #calcContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }
    
    /* Left Side */
    #leftSide {
        flex: 1;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 1.8rem;
    }
    
    /* Right Side  */
    #emptyContainer {
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    #emptyMsg{
        grid-area: emptyMsg;
        /* border: 1px solid; */
        padding: 1rem;
        text-align: center;
    }
    
    #emptyMsg h3{
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
    
    #emptyMsg p{
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;
    }

    /* Result Container */
    #resultContainer{
        flex: 1;
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 2rem;
        /* display: none; */
    }
    
    #resultContainer h2{
        font-size: 1.4em;
        margin-bottom: 1.3rem;
    }
    
    #resultContainer p{
        color: var(--slate-300);
        font-weight: 500 ;
        line-height: 1.4rem;
    }
    
    #resultArea{
        /* border: 1px solid; */
        margin-top: 2rem;
        margin-bottom: 0rem;
        padding: 1.5rem 1.7rem;
        height: 15.5rem;
    }
    
    #monthlyRepayments,
    #totalValue{
        font-size: 0.9rem;
        font-weight: 700;
    }

    #monthlyPayment{
        /* border: 1px solid; */
        margin: 0.6rem 0rem;
        font-size: 3rem;
        font-weight: 700;
    }
    
    hr{
        height: 1px;
        margin: 1.5rem 0rem;
    }
    
    #totalAmount{
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 375px){

    body {
        padding: 0px 0px;
        overflow: scroll;
    }
    
    /* Universal classes below */
    .form-group {
        margin-bottom: 0.8rem;
    }
    
    .form-section{
        align-items: center;
        flex: 1;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 0.5rem;
    }
    
    .margin-bottom{
        margin-bottom: 1.5rem;
    }
    
    .oneLineEle {
        display: block;
        gap: 0rem;
    }
    
    .errmsg{
        font-size: 0.9rem;
        color: var(--red);
        margin-top: 0.5rem;
    }
    /* Unviersal classes above */
    

    #outerContainer{
        display: flex;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    #calcContainer {
        border-radius: 0px;
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    /* Left Side */
    #leftSide {
        flex: 0;
        border-radius: 0;
        padding: 1.6rem;
    }

    #mainHeading{
        display: block;
        font-size: 1.7rem;
        margin-bottom: 0.3rem;
    }
    
    #clear {
        display: block;
        margin-bottom: 2rem;
    }
    
    /* Right Side  */
    #rightSide{
        display: flex;
        align-items: stretch;
    }
    
    #emptyContainer {
        flex: 1;
        border-radius: 0px;
        padding: 2rem 1.5rem;
    }
    
    #emptyImg{
        padding: 0.23rem;
    }

    #emptyMsg h3{
        font-size: 1.5rem;
    }
    
    #emptyMsg p{
        font-size: 0.95rem;
        font-weight: 700;
    }

    /* Result Container */
    #resultContainer{
        flex: 1;
        border-radius: 0px;
        padding: 2.1rem 1.45rem;
    }
    
    #resultContainer h2{
        font-size: 1.5em;
        margin-bottom: 1.3rem;
    }
    
    #resultContainer p{
        color: var(--slate-300);
        font-weight: 600 ;
        line-height: 1.4rem;
    }
    
    #resultArea{
        margin-top: 2rem;
        margin-bottom: 0rem;
        padding: 1.5rem 1rem;
        height: 15.5rem;
    }
    
    #monthlyRepayments,
    #totalValue{
        font-size: 1rem;
        font-weight: 700;
    }

    #monthlyPayment{
        margin: 0.6rem 0rem;
        font-size: 2.5rem;
        font-weight: 700;
    }
    
    hr{
        margin: 1.5rem 0rem;
    }
    
    #totalAmount{
        font-size: 1.5rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 2px;
    right: 2px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}